<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Country</th>
            <td><select name="country" id="">
                <option value="">--select country--</option>
                {% for u in us %}
                <option value="">{{u.c_name}}</option>
                {% endfor %}
            </select></td>
        </tr>
    </table>
</body>
</html>